.gastos {
    border-bottom: solid 1px rgba(0,0, 0, 0.1);
    display: flex;
    
}

.nombre {
    font-weight: 600;
}

p {
    width: 100%;
    margin: 0.5rem 0rem 0.5rem 0rem;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cantidad {
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    border-radius: 50px;
    font-weight: 500;
    color: white;
    background-color: rgb(67, 67, 248);
}

a {

    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    border-radius: 50%;
    text-align: center;
    
    font-weight: 600;
    background-color: red;
    color: white;
    text-decoration: none;
    
}

@media screen and (max-width: 320px) {
    .gastos .nombre, .gastos .cantidad, a   {
        padding: 0.1rem 0.3rem 0.1rem 0.3rem;
        font-weight: 400;
        font-size: 14px;
    }
    .gastos p {
        padding: 0.3rem 0rem 0.3rem 0rem;   
    }
}